{{#unless this.site.mobileView}}
  <div class="sidebar-footer__mode-toggle" {{did-insert this.setDefaultMode}}>
    <a
      class="forum-mode-toggle"
      {{on "click" this.toggleMode}}
      data-sidebar-mode="forum"
    >{{d-icon "stream"}}</a>
    <a
      class="chat-mode-toggle"
      {{on "click" this.toggleMode}}
      data-sidebar-mode="chat"
    >
      {{d-icon "d-chat"}}
      {{#unless this.currentUserInDnD}}
        <ChatHeaderIconUnreadIndicator />
      {{/unless}}
    </a>
  </div>
{{/unless}}